#backgroundPane{
    -fx-background-image: url("graphics/misc/background_login.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

#backgroundMenu{
    -fx-background-image: url("graphics/misc/sfondo_parquet.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

#backgroundBanner{
    -fx-background-image: url("graphics/misc/sfondo_parquet.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

#backgroundPlayerChoose{
    -fx-background-image: url("graphics/misc/sfondo_parquet.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

#bannerLabel{
    -fx-text-fill: #c22f25;
}
