 # Intellij
.idea/
*.iml
*.iws
out/

#Plugin
*.plantuml
 
# Mac
.DS_Store
*.icloud
 
# Maven
log/
target/
executable/


#User
*.class
src/main/java/it/polimi/myshelfie/utilities/Settings.java
deliveries/myShelfieApplication/
config/
src/shade/