 # Intellij
.idea/
*.iml
*.iws
out/
 
# Mac
.DS_Store
*.icloud
 
# Maven
log/
target/
executable/


#User
*.class
src/config/savedgames/*.json
src/config/usergame.json
src/main/java/it/polimi/myshelfie/utilities/Settings.java
